$primary: #c2c5aa;
$secondary: #a4ac86;
$accent: #656d4a;

$light-brown: #a68a64;
$burnt-brown: #936639;
$burnt-brown-darker: #7f4f24;
$dark-brown: #582f0e;

$moss-green: #656d4a;
$forest-green: #414833;
$dark-green: #333d29;
